/*****style.css***/
@media(max-width:390px){
	
	body{
		padding:10px;
		
	}
	
}
#header-img{
width:20%;height:auto;	
}

.flex-container {
  display: flex;
}

#header{
	position: fixed;
	top:0;width:100%;
	padding-bottom:60px;
}